<div class="form_wrapper" class={{ className }}>
    <label class={{ className_label }} for={{ name }}>
        {{ label }}
    </label>
    {{{ Input type=type name=name placeholder=label onFocus=onFocus onBlur=onBlur
              onInput=onInput }}}
    {{{ Error className="error_wrapper" text="Невалидное значение" isValid=true ref="error"}}}
</div> 
