<div class="info-item">
    <label for="text" class="name-field">{{ label }}</label>
    <input class="field-value input" name="{{ name }}" type="{{ type }}" value="{{ value }}"
           placeholder="{{ placeholder }}" {{ readonly }} />
</div>
