<div class="form__wrapper wrapper margin-top-5rem">
    <h3>Зарегистрироваться</h3>
    {{{ Form     className="text-align" 
                 label="Почта" 
                 name="email" 
                 type="email" 
                 validation="email"
                 className_label="form_label"
    }}}
    {{{ Form     className="text-align" 
                 label="Логин" 
                 name="login" 
                 type="login" 
                 validation="login"
                 className_label="form_label"
    }}}
    {{{ Form className="text-align" 
                 label="Имя" 
                 name="first_name" 
                 type="first_name" 
                 validation="first_name"
                 className_label="form_label"
    }}}
    {{{ Form className="text-align" 
                 label="Фамилия" 
                 name="second_name" 
                 type="second_name" 
                 validation="second_name"
                 className_label="form_label"
    }}}
    {{{ Form className="text-align" 
                 label="Телефон" 
                 name="phone" 
                 type="tel" 
                 validation="phone"
                 className_label="form_label"
    }}}
    {{{ Form className="text-align" 
                 label="Пароль" 
                 name="password" 
                 type="password" 
                 validation="password"
                 className_label="form_label"
    }}}
    {{{ Form    className="text-align" 
                 label="Повторите пароль" 
                 name="password_repeat" 
                 type="password" 
                 validation="password_repeat"
                 className_label="form_label"
    }}}
    {{{ Button title="Зарегистрироваться" onClick=onSubmit}}}

    <div class="wrapper margin-top-5rem">
        {{{ Link className="error__link" to="/" text="На главную"}}}
    </div>
</div>

