<div class="wrapper settings__wrapper margin-top-2rem">
    <h3>Информация</h3>

    <div class="info__avatar_wrapper">
        <img src="../../../static/default.png" class="info__avatar_img">
        <div class="info__icon_wrapper">
        {{{ Icon class="change_avatar" 
                        width="24" 
                        height="20" 
                        viewBox="0 0 24 20" 
                        dPath="M0 4.72727C0 3.62271 0.89543 2.72727 2 2.72727H5.81587C6.39062 2.72727 6.9376 2.48 7.31729 2.04853L8.5227 0.678745C8.9024 0.247269 9.44938 0 10.0241 0H14.5633C15.0749 0 15.567 0.196043 15.9385 0.547806L17.6615 2.17947C18.033 2.53123 18.5251 2.72727 19.0367 2.72727H22C23.1046 2.72727 24 3.6227 24 4.72727V18C24 19.1046 23.1046 20 22 20H2C0.89543 20 0 19.1046 0 18V4.72727Z" 
                        fill="white"
                        cx="12" 
                        cy="10" 
                        r="4.5" 
                        strokeCircle="#8E5BF9"
        }}}
    </div>
    </div>
    <div class="info__wrapper margin-top-5rem">
        <ul>
            {{{ InfoItem nameField="Почта" fieldValue="pochta@yandex.ru"}}}
            {{{ InfoItem nameField="Логин" fieldValue="ivanov"}}}
            {{{ InfoItem nameField="Имя" fieldValue="Иван"}}}
            {{{ InfoItem nameField="Фамилия" fieldValue="Иван"}}}
            {{{ InfoItem nameField="Имя в чате" fieldValue="Иванов"}}}
            {{{ InfoItem nameField="Телефон" fieldValue="+7(909)9673030"}}}
        </ul>
    </div>

    <ul class="info_edit_list margin-top-2rem">
        <li class="info_edit_item">
            Изменить данные
        </li>
        <li class="info_edit_item">
            Изменить пароль
        </li>
        <li class="warn-color info_edit_item">
            Выйти
        </li>
    </ul>
    <div class="wrapper margin-top-5rem">
        <a href="/" class="error__link">На главную</a>
    </div>
</div>